.red {
  background-color: #EE3C5E;
}

.red-text {
  color: #EE3C5E;
}

.yellow {
  background-color: #FFCD40;
}

.yellow-text {
  color: #FFCD40;
}

.blue {
  background-color: #00384E;
}

.blue-text {
  color: #00384E;
}

.light-blue {
  background-color: #1F89CA;
}

.light-blue-text {
  color: #1F89CA;
}

.white {
  background-color: #FFFFFF;
}

.white-text {
  color: #FFFFFF;
}
