!!! 5
%head
	%title DoctorsCo - plataforma para profesionales de la salud
	%link{rel:"stylesheet", href:"../css/app.css"}
	%link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
%body
	.row.center-xs.middle-xs.red.full-height
		.col-xs-12
			.box
				.primary-stage.red
					%h1 Hola Mundo